<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>VersionBaseDonneesSonioFree</key>
	<string>2</string>
	<key>DelaiEnSecAvantPubSonioFree</key>
	<integer>60</integer>
	<key>PubliciteDictionnarySonioFree</key>
	<dict>
		<key>Publicite_Active</key>
		<true/>
		<key>Publicite_AppID</key>
		<string>508373232</string>
		<key>Publicite_PourEcran</key>
		<string>320x480, 640x960, 320x568, 640x1136, 768x1024, 1536x2048,</string>
		<key>Publicite_PourPays</key>
		<string>FR,</string>
		<key>Publicite_OuPourLangue</key>
		<string>fr,</string>
		<key>Publicite_OuSiEcouteListeRadio</key>
		<string>FR,</string>
	</dict>
</dict>
</plist>
